.MainContent {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-left: 10px;
    border: 1px solid rgba(0,0,0,0.05);
    width: 100%;
    height: 100%;
    
}
.MainContent .MainRight h2{
    margin-bottom: 15px;
}
.MainRight .images img{
    margin-bottom: 10px;
}
.MainContent .MainTopCenter h1, .MainBottomCenter h1{
    font-size: 20px;
}
.MainContent .MainTopCenter .list-post,.MainBottomCenter .list-post {
    display: flex;
    flex-direction: column;
}

.MainContent .MainTopCenter .post, .MainBottomCenter .post {
    display: flex;
    border: none;
    padding: 5px 10px;
    margin-bottom: 5px;
}
.MainContent .MainTopCenter .post .content h2, .MainBottomCenter .post .content h2{
    font-size: 16px;
    margin-bottom: 5px;
}
.MainContent .MainTopCenter .date , .MainBottomCenter .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 5%;
    margin-right: 20px;
}
.MainContent .MainTopCenter .date .blue, .MainBottomCenter .date .blue{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #075794;
    color: white;
    width: 100%;
    height: 50%;
}
.MainContent .MainTopCenter .date .white, .MainBottomCenter .date .white{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
    width: 100%;
}

.MainContent .MainTopCenter .content ,.MainBottomCenter .content{
    flex: 1;
    margin-top: 6px;
}

.MainContent .MainTopCenter .content h2 , .MainBottomCenter .content h2 {
    margin: 0;
    font-size: 18px;
}

.MainContent .MainTopCenter .content .info,.MainBottomCenter .content .info{
    font-size: 0.8em;
    color: #6c757d;
}
.MainContent .MainTopCenter .content .info i, .MainBottomCenter .content .info i{
    color:#ccc;
    margin-right: 5px;
}
.MainContent .MainTopCenter .content .hot, .MainBottomCenter .content .hot{
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
}