*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

 h1{
    font-size: 20px;
}
 .list-post {
    display: flex;
    flex-direction: column;
}

 .post {
    display: flex;
    border: none;
    padding: 5px 10px;
    margin-bottom: 5px;
}
 .post .content h2{
    font-size: 16px;
    margin-bottom: 5px;
}
 .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 5%;
    margin-right: 20px;
}
 .date .blue{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #075794;
    color: white;
    width: 100%;
    height: 50%;
}
 .date .white{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
    width: 100%;
}

 .content {
    flex: 1;
    margin-top: 6px;
}

 .content h2 {
    margin: 0;
    font-size: 18px;
}

 .content .info {
    font-size: 0.8em;
    color: #6c757d;
}
 .content .info i{
    color:#ccc;
    margin-right: 5px;
}
 .content .hot {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
}

@media (max-width: 600px) {
     .post {
        flex-direction: column;
    }

     .date {
        margin-bottom: 10px;
    }
}