*{
    margin: 0;
    
    padding: 0;
    box-sizing: border-box;
    
}
.university{
    margin-left: 10px;
}
h1, h2{
    color: #0473b3;
}

h1{
    font-size: 25px;
}
.date{
    color: #4e4e4e;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 0;
}
.content-item{
    margin-top: 20px;
    margin-left: 30px;
}
h2{
    font-size: 20px;
}

p{
    margin: 10px 0;
}